.heading{
    font-size:36px;
    width:100%;
    margin:0px;
    font-family:garamond;
    border:2px dashed;
    border-color: #080029;

}
.note{
    font-size:30px;
}
.copy_right_footer{
    position: fixed;
    color:whitesmoke;
    bottom:0;
    width:100%;
    text-align:center;
    background-color:#db1212;
    line-height:3;
    font-size:20px;
    font-family:garamond;
}

canvas{

    border:6.87px ridge gold;

}